/* Colors and Theme */
@media (prefers-color-scheme: light) {
  :root {
    --neutral: #efd6ac;
    --color: #c44900;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --neutral: #183a37;
    --color: #efd6ac;
  }
}
@media print {
  :root {
    --neutral: #ffffff;
    --color: #efd6ac;
  }
}
:root {
  --black: #04151f;
  --red: #c44900;
  --tan: #efd6ac;
  --green: #183a37;
  --purple: #432534;
  --swiper-theme-color: var(--color);
}

/* Fonts */
@font-face {
  font-family: Kontanter;
  src: url("./Kontanter-Bold.otf");
}
@font-face {
  font-family: AweberBlack;
  src: url("./AweberBlack.otf");
}
@font-face {
  font-family: AweberUltrathin;
  src: url("./AweberUltrathin.otf");
}
@font-face {
  font-family: Above;
  src: url("./AboveDemoRegular.ttf");
}
@font-face {
  font-family: Comfortaa;
  src: url("./Comfortaa-Bold.ttf"), url("./Comfortaa-Light.ttf"),
    url("./Comfortaa-Regular.ttf");
}

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
  background-color: var(--neutral);
  color: var(--color);
  font-family: "Comfortaa";
  overflow-x: hidden;
  text-align: center;
}
::-webkit-scrollbar {
  display: none;
}
/* Text */
h1,
h2,
h3 {
  font-family: "Kontanter";
  transition: 150ms;
}
h4,
h5,
h6 {
  font-family: "AweberBlack";
  transition: 150ms;
}
.accessible h1,
.accessible h2,
.accessible h3,
.accessible h4,
.accessible h5,
.accessible h6 {
  font-family: "Comfortaa";
  transition: 150ms;
}
p,
a {
  transition: 200ms ease;
  text-decoration: none;
}
p {
  font-family: "Comfortaa";
}
a {
  text-decoration: underline;
  color: var(--color);
  font-weight: normal;
}
@media (prefers-color-scheme: light) {
  a:hover {
    text-decoration: none;
    color: var(--purple);
  }
}
@media (prefers-color-scheme: dark) {
  a:hover {
    text-decoration: none;
    color: var(--red);
  }
}
.textgroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textgroup p {
  text-align: center;
  width: 65%;
}
.textgroup.bgvid {
  color: var(--tan);
  max-width: fit-content;
  padding: 1rem;
  background-color: var(--purple);
}

.textgroup form {
  width: 65%;
}
.textgroup.bgvid img {
  height: 4rem;
  padding: 0.2rem;
  width: auto;
}
@media screen and (max-width: 760px) {
  .textgroup {
    width: 95%;
    margin: 1rem;
  }
  .textgroup p {
    text-align: center;
    width: 100%;
  }
  .textgroup form {
    width: 100%;
  }
}

/* Buttons */
.btn {
  border-radius: 0;
  font-family: AweberBlack;
  font-size: 1.3rem;
  padding: 0.2rem 1rem 0rem 1rem;
  background-color: var(--neutral);
  border-width: 5px;
}
.btn-primary {
  color: var(--color);
  border-color: var(--color);
}
.btn-primary:hover {
  color: var(--neutral);
  background-color: var(--color);
  border-color: var(--color);
}
.btn-primary:active {
  color: var(--color);
  background-color: var(--neutral);
  border-color: var(--neutral);
}

/* Navbar */
.nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  padding-top: 5px;
  background-color: var(--neutral);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  box-shadow: 0px 5px 5px 0px var(--neutral);
}
.nav div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: fit-content;
}
.nav #homelink {
  display: block;
  color: var(--color);
  padding: 0rem 5vw;
  text-decoration: none !important;
  cursor: pointer;
}
.nav #homelinkM {
  display: none;
  color: var(--color);
  padding-top: 1rem;
  text-decoration: none !important;
}
.nav .pageLink * {
  background: linear-gradient(
    60deg,
    var(--color),
    var(--color) 50%,
    var(--neutral) 50%,
    var(--neutral) 60%,
    var(--purple) 60%,
    var(--purple) 110%
  );
  background-size: 300%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: background 500ms ease;
}
.nav .pageLink {
  padding: 0vw 2vw;
  margin: auto 0.5rem;
  text-decoration: none;
  color: var(--color);
  transition: 150ms;
  cursor: pointer;
}
@media screen and (max-width: 760px) {
  .nav #homelinkM {
    display: block;
  }
  .nav #homelink {
    display: none;
  }
  .nav .pageLink {
    padding: 0;
  }
}
.nav .pageLink.active {
  border-bottom: 5px var(--color) solid;
  padding-top: 5px;
  cursor: default;
}
.nav .pageLink.active:hover {
  background-position: -185px;
  border-bottom: 5px var(--purple) solid !important;
}
@media (prefers-color-scheme: dark) {
  .nav .pageLink * {
    background: linear-gradient(
      60deg,
      var(--color),
      var(--color) 50%,
      var(--neutral) 50%,
      var(--neutral) 60%,
      var(--red) 60%,
      var(--red) 110%
    );
    background-size: 300%;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: 500ms ease;
  }
  .nav .pageLink.active:hover {
    background-position: 100%;
    border-bottom: 5px var(--red) solid !important;
  }
}
.nav .pageLink:hover * {
  background-position: 100%;
}

/* Footer */
.footer {
  background-color: var(--color);
  height: fit-content;
  padding: 3rem;
  color: var(--neutral);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .links {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer .links * {
  margin: auto 0.5rem;
  background: linear-gradient(
    60deg,
    var(--neutral),
    var(--neutral) 50%,
    var(--color) 50%,
    var(--color) 60%,
    var(--neutral) 60%,
    var(--neutral) 110%
  );
  background-size: 300%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: background 600ms ease;
}
.footer .links *:hover {
  background-position: 105%;
}
.footer .disclaimer {
  display: block;
  height: 1rem;
  width: 1rem;
  float: right;
  color: var(--neutral);
  fill: var(--neutral);
}

/* Fullpage Div */
div.fullpage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
div.fullpage .videocontainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -9 !important;
}
@media screen and (max-width: 760px) {
  div.fullpage .videocontainer {
    display: none;
  }
}
.videocontainer #generationBG {
  width: 100vw;
  height: auto;
  object-fit: cover;
  z-index: -10 !important;
}

@media screen and (max-width: 760px) {
  div.fullpage {
    margin-top: 3rem;
    flex-direction: column;
    height: fit-content;
  }
}

/* Fullwidth div */
div.fullwidth {
  width: 85vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

@media screen and (max-width: 760px) {
  div.fullwidth {
    flex-direction: column-reverse !important;
    width: 95vw;
    margin: 0vh auto;
  }
  div.fullwidth * {
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
  }
  div.fullwidth .textgroup {
    width: 100%;
    margin: 1rem;
    display: flex;
  }
  div.fullwidth div * {
    width: 100%;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
  }
  div.fullwidth .imagegroup {
    width: 100%;
  }
  div.fullwidth .imagegroup img {
    width: 100%;
    height: auto;
    border: none;
  }
}

/* Images */
img {
  width: 25vw;
  height: 25vw;
}
img.framed {
  border: 1vw rgb(245, 245, 245) solid;
}

@media screen and (max-width: 760px) {
  .imagegroup#landing {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .imagegroup#landing * {
    position: relative;
    margin: 10px;
    left: 0;
    top: 0;
  }
}
@media screen and (min-width: 760px) {
  .imagegroup#landing {
    width: 100%;
    height: 50%;
    transition: 100ms ease;
    margin-top: 5vw;
    margin-left: -5vw;
  }
  .imagegroup#landing * {
    transform: rotateX(-15deg) rotateY(10deg) skew(5deg) rotate(-5deg);
    -webkit-transform: rotateX(-15deg) rotateY(10deg) skew(5deg) rotate(-5deg);
    position: absolute;
    transition: 100ms ease;
  }
  .imagegroup.safari#landing {
    margin-top: 0;
  }
  .imagegroup.safari#landing * {
    transform: rotateX(0deg) rotateY(0deg) skew(0deg) rotate(0deg);
    -webkit-transform: rotateX(0) rotateY(0) skew(0) rotate(0) !important;
    margin-top: 0;
  }
  .imagegroup#landing *:hover {
    transform: rotateX(0deg) rotateY(0deg) skew(0deg) rotate(0deg)
      translate(1.5rem, -1rem);
    -webkit-transform: rotateX(0) rotateY(0) skew(0) rotate(0)
      translate(1.5rem, -1rem) !important;
    z-index: 4 !important;
    box-shadow: 0px 5rem 5rem 0px rgba(0, 0, 0, 0.3) !important;
  }
  .imagegroup.safari#landing *:hover {
    transform: rotateX(0deg) rotateY(0deg) skew(0deg) rotate(0deg) scale(1.05);
    -webkit-transform: rotateX(0) rotateY(0) skew(0) rotate(0) scale(1.05) !important;
    box-shadow: none !important;
    box-shadow: 0px 5rem 5rem 0px rgba(0, 0, 0, 0.3) !important;
  }
  #landing #imageback {
    z-index: 1;
    margin-left: -12vw;
    margin-top: 5vh;
  }
  #landing #imagemid {
    z-index: 2;
    margin-left: -7vw;
    margin-top: 0vh;
  }
  #landing #imagefront {
    z-index: 3;
    margin-left: -2vw;
    margin-top: -5vh;
  }
}

/* Made with AI Icon */
.madewai {
  width: 55px;
  height: auto;
  margin: 10px;
}
.madewai #made-with,
.madewai #AI {
  fill: var(--neutral) !important;
}
.madewai #Rectangle {
  fill: var(--color) !important;
}

/* Forms */
form {
  font-family: Above;
}

@media (prefers-color-scheme: light) {
  .form-input::placeholder {
    color: rgba(200, 200, 200, 0.7);
    transition: 500ms ease;
  }
}
@media (prefers-color-scheme: dark) {
  .form-input::placeholder {
    color: rgba(50, 50, 50, 0.7);
    transition: 500ms ease;
  }
}
.form-input:focus {
  /* background-color: var(--neutral); */
  color: var(--neutral);
}
.form-input {
  background: linear-gradient(
    60deg,
    var(--color),
    var(--color) 50%,
    var(--neutral) 50%,
    var(--neutral) 60%,
    var(--purple) 60%,
    var(--purple) 110%
  );
  background-size: 300%;
  transition: 500ms ease;
  display: block;
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 0 !important;
  color: var(--neutral);
  font-family: Comfortaa;
}
@media (prefers-color-scheme: dark) {
  .form-input {
    background: linear-gradient(
      60deg,
      var(--color),
      var(--color) 50%,
      var(--neutral) 50%,
      var(--neutral) 60%,
      var(--red) 60%,
      var(--red) 110%
    );
    background-size: 300%;
    transition: 500ms ease;
  }
  .nav .pageLink.active:hover {
    background-position: 100%;
    border-bottom: 5px var(--red) solid !important;
  }
}
.form-input:focus {
  color: var(--tan);
  background-position: 100%;
}
.form-input:focus::placeholder {
  color: transparent !important;
}

hr {
  width: 10vw;
  background-color: var(--color);
  border: 1px solid var(--color);
  opacity: 1;
  margin: auto;
}

/* Swiper */
.swiper {
  overflow-x: hidden;
  overflow-y: visible;
  margin: 5vh auto;
  box-shadow: 0px 0px 10px 10px var(--neutral) inset;
}

.swiper-wrapper {
  height: fit-content;
  width: 50vh;
}

.swiper-slide {
  height: fit-content;
  width: 50vh;
  margin: auto;
  border-radius: 1rem;
  background-color: var(--color);
  color: var(--tan);
  transition: 300ms ease;
}

.swiper-slide p,
.swiper-slide h2,
.swiper-slide a {
  width: 75%;
  padding: 0;
  margin: 0;
  color: var(--tan);
}
@media (prefers-color-scheme: dark) {
  .swiper-slide {
    background-color: var(--color);
    color: var(--red);
  }
  .swiper-slide p,
  .swiper-slide h2,
  .swiper-slide a {
    width: 75%;
    padding: 0;
    margin: 0;
    color: var(--red);
  }
}

.swiper-slide div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 50vh;
  max-height: fit-content;
  padding: 1rem;
  border-radius: 1rem;
}

#howToMobile {
  opacity: 0;
  display: none;
}

#howToComputer {
  opacity: 0;
}

@media screen and (max-width: 760px) {
  .swiper {
    width: 90vw;
    overflow: visible;
    margin: 2vh auto;
  }
  .swiper-wrapper {
    height: fit-content;
    width: 45vh;
  }
  .swiper-slide {
    min-height: fit-content;
    min-width: 45vh;
  }

  .swiper-slide p,
  .swiper-slide h2,
  .swiper-slide a {
    width: 90%;
  }

  #howToComputer {
    display: none;
  }

  #howToMobile {
    display: block;
  }
}

.swiper-slide p {
  width: 100%;
  margin: 0;
  padding: 0.2rem;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
}
