@media (prefers-color-scheme: light) {
  :root {
    --neutral: #efd6ac;
    --color: #c44900;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --neutral: #183a37;
    --color: #efd6ac;
  }
}

@font-face {
  font-family: Kontanter;
  src: url("./Kontanter-Bold.otf");
}
@font-face {
  font-family: AweberBlack;
  src: url("./AweberBlack.otf");
}
@font-face {
  font-family: AweberUltrathin;
  src: url("./AweberUltrathin.otf");
}
@font-face {
  font-family: Above;
  src: url("./AboveDemoRegular.ttf");
}

body {
  background-color: var(--neutral);
  color: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
/* Text */
h1,
h2,
h3 {
  font-family: "Kontanter";
  transition: 150ms;
}
h4,
h5,
h6 {
  font-family: "AweberBlack";
  transition: 150ms;
}
p,
a {
  transition: 150ms;
  text-decoration: none;
}
p {
  font-family: "Above";
}
.textgroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Navbar */
.nav {
  position: sticky;
  top: 0;
  width: 100vw;
  height: auto;
  padding: 0rem 5rem;
  background-color: var(--neutral);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  box-shadow: 0px 5px 5px 0px var(--neutral);
}
.nav#mobile {
  flex-direction: column;
}
.nav#mobile #homelink {
  margin: auto;
  width: fit-content;
}
.nav#mobile div {
  display: flex;
  flex-direction: row;
}
.nav * {
  margin: 0 auto;
  padding: 5px;
  color: var(--color);
  text-decoration: none;
}
.nav *:hover {
  color: var(--color);
}

/* Footer */
.footer {
  background-color: var(--color);
  height: fit-content;
  padding: 3rem;
  color: var(--neutral);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .links {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.footer .links * {
  margin: auto;
  color: var(--neutral);
}

/* Fullpage Div */
div.fullpage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 760px) {
  div.fullpage {
    flex-direction: column;
    height: fit-content;
  }
}

/* Images */
img {
  width: 25vw;
  height: 25vw;
}
img.framed {
  border: 0.7rem rgb(245, 245, 245) solid;
}

@media screen and (max-width: 760px) {
  .imagegroup {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .imagegroup * {
    position: relative;
    margin: 10px;
    left: 0;
    top: 0;
  }
}
@media screen and (min-width: 760px) {
  .imagegroup {
    width: 100%;
    height: 50%;
    transition: 100ms ease-in-out;
  }
  .imagegroup * {
    transform: rotateX(-15deg) rotateY(10deg) skew(5deg) rotate(-5deg);
    position: absolute;
    display: inline;
    transition: 100ms ease-in-out;
  }
  .imagegroup *:hover {
    transform: rotateX(0deg) rotateY(0deg) skew(0deg) rotate(0deg) scale(1.1)
      translate(1.5rem, -1rem);
    z-index: 4 !important;
  }
  #imageback {
    z-index: 1;
    margin-left: 9rem;
    margin-top: 2rem;
  }
  #imagemid {
    z-index: 2;
    margin-left: 13rem;
    margin-top: 0rem;
  }
  #imagefront {
    z-index: 3;
    margin-left: 17rem;
    margin-top: -2rem;
  }
}
@media screen and (max-width: 920px) {
  .imagegroup {
    transform: translateX(-2rem);
  }
}

/* Made with AI Icon */

.madewai {
  width: 55px;
  height: auto;
  margin: 10px;
}
.madewai #made-with,
.madewai #AI {
  fill: var(--neutral) !important;
}
.madewai #Rectangle {
  fill: var(--color) !important;
}
