@media (prefers-color-scheme: light) {
  :root {
    --neutral: #efd6ac;
    --color: #c44900;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --neutral: #183a37;
    --color: #efd6ac;
  }
}
:root {
  --black: #04151f;
  --red: #c44900;
  --tan: #efd6ac;
  --green: #183a37;
  --purple: #432534;
}

@font-face {
  font-family: Kontanter;
  src: url("./Kontanter-Bold.otf");
}
@font-face {
  font-family: AweberBlack;
  src: url("./AweberBlack.otf");
}
@font-face {
  font-family: AweberUltrathin;
  src: url("./AweberUltrathin.otf");
}
@font-face {
  font-family: Above;
  src: url("./AboveDemoRegular.ttf");
}

body {
  background-color: var(--neutral);
  color: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
/* Text */
h1,
h2,
h3 {
  font-family: "Kontanter";
  transition: 150ms;
}
h4,
h5,
h6 {
  font-family: "AweberBlack";
  transition: 150ms;
}
p,
a {
  transition: 200ms ease;
  text-decoration: none;
}
p {
  font-family: "Above";
}
a.emaillink {
  text-decoration: underline;
  color: var(--color);
  font-weight: normal;
}
@media (prefers-color-scheme: light) {
  a.emaillink:hover {
    text-decoration: none;
    color: var(--purple);
  }
}
@media (prefers-color-scheme: dark) {
  a.emaillink:hover {
    text-decoration: none;
    color: var(--red);
  }
}
.textgroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textgroup p {
  text-align: center;
  width: 65%;
}
.textgroup.bgvid {
  color: var(--tan);
  max-width: fit-content;
  margin: auto;
  padding: 1rem;
  background-color: var(--purple);
}

.textgroup form {
  width: 65%;
}

@media (prefers-color-scheme: dark) {
  .textgroup.bgvid {
    background-color: var(--neutral);
  }
}
.textgroup.bgvid img {
  height: 4rem;
  padding: 0.2rem;
  width: auto;
}
@media screen and (max-width: 760px) {
  .textgroup {
    width: 95%;
    margin: 1rem;
  }
  .textgroup p {
    text-align: center;
    width: 100%;
  }
  .textgroup form {
    width: 100%;
  }
}

/* Buttons */
.btn {
  border-radius: 0;
  font-family: AweberBlack;
  font-size: 1.3rem;
  padding: 0.2rem 1rem 0rem 1rem;
  background-color: var(--neutral);
  border-width: 5px;
}
.btn-primary {
  color: var(--color);
  border-color: var(--color);
}
.btn-primary:hover {
  color: var(--neutral);
  background-color: var(--color);
  border-color: var(--color);
}
.btn-primary:active {
  color: var(--color);
  background-color: var(--neutral);
  border-color: var(--neutral);
}

/* Navbar */
.nav {
  position: sticky;
  top: 0;
  width: 100vw;
  height: auto;
  padding: 0rem 5rem;
  background-color: var(--neutral);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  box-shadow: 0px 5px 5px 0px var(--neutral);
}
.nav#mobile {
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100vw;
  /* overflow: hidden; */
}
.nav#mobile #homelink {
  margin: auto;
  width: fit-content;
}
.nav#mobile div {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width: 100vw;
}
.nav * {
  padding: 5px;
  margin: auto 0.5rem;
  text-decoration: none;
  color: var(--color);
  transition: 150ms;
}
.nav#mobile * {
  padding: 5px 0px;
  margin: auto 0.5rem;
  text-decoration: none;
  color: var(--color);
  transition: 150ms;
}
.nav .pageLink.active {
  border-bottom: 5px var(--color) solid;
  padding-bottom: 0;
  cursor: default;
}
.nav .pageLink.active:hover {
  background-position: -185px;
  border-bottom: 5px var(--purple) solid !important;
}
.nav .pageLink * {
  background: linear-gradient(
    60deg,
    var(--color),
    var(--color) 50%,
    var(--neutral) 50%,
    var(--neutral) 60%,
    var(--purple) 60%,
    var(--purple) 110%
  );
  background-size: 300%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: background 500ms ease;
}
@media (prefers-color-scheme: dark) {
  .nav .pageLink * {
    background: linear-gradient(
      60deg,
      var(--color),
      var(--color) 50%,
      var(--neutral) 50%,
      var(--neutral) 60%,
      var(--red) 60%,
      var(--red) 110%
    );
    background-size: 300%;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: 500ms ease;
  }
  .nav .pageLink.active:hover {
    background-position: 100%;
    border-bottom: 5px var(--red) solid !important;
  }
}
.nav .pageLink:hover * {
  background-position: 100%;
}

/* Footer */
.footer {
  background-color: var(--color);
  height: fit-content;
  padding: 3rem;
  color: var(--neutral);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .links {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer .links * {
  margin: auto 0.5rem;
  background: linear-gradient(
    60deg,
    var(--neutral),
    var(--neutral) 50%,
    var(--color) 50%,
    var(--color) 60%,
    var(--neutral) 60%,
    var(--neutral) 110%
  );
  background-size: 300%;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: background 600ms ease;
}
.footer .links *:hover {
  background-position: 105%;
}

/* Fullpage Div */
div.fullpage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
div.fullpage .videocontainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -9 !important;
}
.videocontainer #generationBG {
  width: 100vw;
  height: auto;
  object-fit: cover;
  z-index: -10 !important;
}

@media screen and (max-width: 760px) {
  div.fullpage {
    margin-top: 3rem;
    flex-direction: column;
    height: fit-content;
  }
}

/* Images */
img {
  width: 25vw;
  height: 25vw;
}
img.framed {
  border: 0.7rem rgb(245, 245, 245) solid;
}

@media screen and (max-width: 760px) {
  img.framed {
    border: 0.4rem rgb(245, 245, 245) solid !important;
  }
  .imagegroup {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .imagegroup * {
    position: relative;
    margin: 10px;
    left: 0;
    top: 0;
  }
}
@media screen and (min-width: 760px) {
  .imagegroup {
    width: 100%;
    height: 50%;
    transition: 100ms ease-in-out;
  }
  .imagegroup * {
    transform: rotateX(-15deg) rotateY(10deg) skew(5deg) rotate(-5deg);
    -webkit-transform: rotateX(-15deg) rotateY(10deg) skew(5deg) rotate(-5deg);
    position: absolute;
    display: inline;
    transition: 100ms ease-in-out;
    z-index: 0;
  }
  .imagegroup.safari * {
    transform: rotateX(0deg) rotateY(0deg) skew(0deg) rotate(0deg);
    -webkit-transform: rotateX(0) rotateY(0) skew(0) rotate(0) !important;
    box-shadow: none !important;
  }
  .imagegroup *:hover {
    transform: rotateX(0deg) rotateY(0deg) skew(0deg) rotate(0deg)
      translate(1.5rem, -1rem);
    -webkit-transform: rotateX(0) rotateY(0) skew(0) rotate(0)
      translate(1.5rem, -1rem) !important;
    z-index: 10 !important;
    box-shadow: 0px 5rem 5rem 0px rgba(0, 0, 0, 0.3) !important;
  }
  .imagegroup.safari *:hover {
    transform: rotateX(0deg) rotateY(0deg) skew(0deg) rotate(0deg) scale(1.05);
    -webkit-transform: rotateX(0) rotateY(0) skew(0) rotate(0) scale(1.05) !important;
    box-shadow: none !important;
    box-shadow: 0px 5rem 5rem 0px rgba(0, 0, 0, 0.3) !important;
  }
  #imageback {
    z-index: 1;
    margin-left: 9rem;
    margin-top: 2rem;
  }
  #imagemid {
    z-index: 2;
    margin-left: 13rem;
    margin-top: 0rem;
  }
  #imagefront {
    z-index: 3;
    margin-left: 17rem;
    margin-top: -2rem;
  }
}
@media screen and (max-width: 920px) and (min-width: 760px) {
  .imagegroup {
    transform: translateX(-5rem);
  }
}
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .imagegroup {
    transform: translateX(5rem);
  }
}
@media screen and (min-width: 1600px) and (max-width: 2100px) {
  .imagegroup {
    transform: translateX(8rem);
  }
}
@media screen and (min-width: 2100px) {
  .imagegroup {
    transform: translateX(11rem);
  }
}

/* Made with AI Icon */

.madewai {
  width: 55px;
  height: auto;
  margin: 10px;
}
.madewai #made-with,
.madewai #AI {
  fill: var(--neutral) !important;
}
.madewai #Rectangle {
  fill: var(--color) !important;
}

/* Forms */
form {
  font-family: Above;
}

@media (prefers-color-scheme: light) {
  .form-input::placeholder {
    color: rgba(200, 200, 200, 0.7);
    transition: 500ms ease;
  }
}
@media (prefers-color-scheme: dark) {
  .form-input::placeholder {
    color: rgba(50, 50, 50, 0.7);
    transition: 500ms ease;
  }
}
.form-input:focus {
  /* background-color: var(--neutral); */
  color: var(--neutral);
}
.form-input {
  background: linear-gradient(
    60deg,
    var(--color),
    var(--color) 50%,
    var(--neutral) 50%,
    var(--neutral) 60%,
    var(--purple) 60%,
    var(--purple) 110%
  );
  background-size: 300%;
  transition: 500ms ease;
  display: block;
  width: 100%;
  padding: 5px;
  border: none;
  color: var(--neutral);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media (prefers-color-scheme: dark) {
  .form-input {
    background: linear-gradient(
      60deg,
      var(--color),
      var(--color) 50%,
      var(--neutral) 50%,
      var(--neutral) 60%,
      var(--red) 60%,
      var(--red) 110%
    );
    background-size: 300%;
    transition: 500ms ease;
  }
  .nav .pageLink.active:hover {
    background-position: 100%;
    border-bottom: 5px var(--red) solid !important;
  }
}
.form-input:focus {
  color: var(--tan);
  background-position: 100%;
}
.form-input:focus::placeholder {
  color: transparent !important;
}
